*{
    font-family: 'Poppins', sans-serif;
    text-decoration: none !important;
    color: #424545;
}

/* Font */
.font-fredoka {
    font-family: 'Fredoka', sans-serif;
}

/* Color */
.color-primary-1 {
    color: #669A8E;
}

.color-primary-2 {
    color: #2A6877;
}

.color-primary-3 {
    color: #424545;
}

/* Background Color */
.bg-primary-1 {
    background-color: #669A8E;
}

/* Font Size */
.font-size-68 {
    font-size: 68px;
}

.font-size-40 {
    font-size: 40px;
}

.font-size-30 {
    font-size: 30px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-12 {
    font-size: 12px;
}

/* Font Weight */
.font-weight-600 {
    font-weight: 600;
}

.font-weight-400 {
    font-weight: 400;
}

/* Line Height */
.line-height-76 {
    line-height: 76px;
}

/* Margin */
.margin-top-128 {
    margin-top: 128px;
}

.margin-top-76 {
    margin-top: 76px;
}

.margin-bottom-80 {
    margin-bottom: 80px;
}

/* Padding */
.padding-top-66 {
    padding-top: 66px;
}

.padding-bottom-66 {
    padding-bottom: 66px;
}

.padding-top-140 {
    padding-top: 140px;
}

.padding-left-right-100 {
    padding-left: 6.25rem;
    padding-right: 6.25rem;
}

.card {
    border-radius: 12px !important;
}