*{
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ECF3F3;
}

.fredoka{
    font-family: 'Fredoka', sans-serif;
}

.custom-active{
    background-color: #428172 !important;
}

.innerjoyMain{
    background-color: #669A8E !important;
}

.borderBottomColor{
    border-bottom: 1px solid #669A8E !important;
}

.sideBarHover:hover{
    background-color: #428172 !important;
}

.status-green {
    padding: 6px 12px;
    background: rgba(30, 137, 30, 0.08);
    border-radius: 12px;
    font-weight: 600;
    font-size: 12px;
    color: #1E891E;
}

.status-red {
    padding: 6px 12px;
    background: rgba(225, 44, 65, 0.08);
    border-radius: 12px;
    font-weight: 600;
    font-size: 12px;
    color: #E12C41;
}

.status-orange {
    padding: 6px 12px;
    background: rgba(228, 82, 0, 0.08);
    border-radius: 12px;
    font-weight: 600;
    font-size: 12px;
    color: #E45200;
}

.status-blue {
    padding: 6px 12px;
    background: rgba(29, 117, 218, 0.08);
    border-radius: 12px;
    font-weight: 600;
    font-size: 12px;
    color: #1D75DA;
}

.img-posting-cover {
    object-fit: cover;
    height:300px;
    width:100%;
}
